*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
package.json
/.codeclimate.yml
/.ruby-gemset
/.ruby-version
/node_modules
/yarn.lock
